@media screen and (max-width:768px){
    body{
        min-width: 100%;
        width: 100%;
    }
    #wrap{
        width: 100%;
    }
    #header{
        width: 100%;
        position: relative;
        height: 70px;
        padding: 0;
    }
    #header.nav-up{
        top: 0;
    }
    #header h1{
        width: 50px;
        height: 50px;
        margin-left: 0;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 50%;
        margin-left: -25px;
    }
    #header h1 a{
        height: 100%;
        display: block;
    }
    #header h1 a img{
        width: 100%;
    }
    
    /*gnb*/
    .gnb{
        display: none;
    }
    
    /*컨테이너*/
    #container{
        width: 100%;
        padding-top: 0;
    }
    /*홈*/
    .home{
        position: relative;
        height: 500px;
        margin-bottom: 50px;
    }
    .home img{
        height: 100%;
        position: static;
        margin-left: 0;
        margin-top: 0;
    }
    
    .homeFont{
        position: absolute;
        left: 50%;
        margin-left: -125px;
        top: 50%;
        margin-top: -48px;
    }
    .homeFont li{}
    .homeFont li h5{
        width: 250px;
        font-size: 30px;
        height: 30px;
    }
    .homeFont li h5 span{
        padding: 0 6px;
    }
    .homeFont li h4{
        width: 250px;
        font-size: 20px;
    }
    .homeFont li h4 span{
        padding: 0 8px;
    }
    .homeFont li h4 span:nth-child(4){
        padding-right: 15px;
    }
    .homeFont li p{
        width: 250px;
        font-size: 16px;
        margin-top: 20px;
    }
    
    /*스크롤*/
    .scrollDown{
        display: none;
    }
    .mScrollDown{
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        bottom: 15%;
    }
    .mScrollDown ul{}
    .mScrollDown ul li{
    }
    .mScrollDown p{
        font-size: 12px;
        font-weight: 200;
        margin-top: 10px;
    }
    .mMouseScroll{
        -webkit-transition: opacity: .4s;
    }
    .mMouse{
        height: 30px;
        width: 18px;
        border: 2px solid #fff;
        border-radius: 15px;
    }
    .mWheel{
        position: relative;
        display: block;
        height: 3px;
        width: 3px;
        margin: 8px auto;
        background: #fff;
        border-radius: 50%;
        -webkit-animation: mouse-wheel 1.2s ease infinite;
        -moz-animation: mouse-wheel 1.2s ease infinite;
        animation: mouse-wheel 1.2s ease infinite;
    }
    @-webkit-keyframes mouse-wheel {
        0% { opacity:1;	-webkit-transform:translateY(0); transform:translateY(0); }
        100% { opacity:0; -webkit-transform:translateY(10px); transform:translateY(10px); }
        }
        @-moz-keyframes mouse-wheel {
        0% { opacity:1;	-moz-transform:translateY(0); transform:translateY(0); }
        100% { opacity:0; -moz-transform:translateY(10px); transform:translateY(10px); }
        }
        @keyframes mouse-wheel {
        0% { opacity:1; transform:translateY(0); }
        100% { opacity:0; transform:translateY(10px); }
    }
    
    /*about*/
    .aboutTitle{
        display: none;
    }
    .about{
        display: none;
    }
    .mAboutTitle{
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;
        display: block;
    }
    .mAboutTitle h3{}
    
    .mAbout{
        width: 100%;
        height: 430px;
        margin-bottom: 50px;
        display: block;
    }
    .mAbout img.mAboutBg{
        height: 100%;
        position: static;
        margin-left: 0;
        margin-top: 0;
    }
    .mAoutLeftText{
        display: none;
    }
    .mAboutLeftText{
        text-align: center;
        left: 50%;
        margin-left: -149px;
        margin-top: 0;
        top: 200px;
        display: block;
    }
    .mAboutLeftText li{}
    .mAboutLeftText li h3{}
    .mAboutLeftText li h3 span{}
    .mAboutLeftText li p{}
    .mAboutLeftText li p span.first{}
    .mAboutLeftText li p span.second{}
    
    .aboutProfileImg{
        width: 120px;
        height: 138px;
        top: 20px;
        left: 50%;
        margin-left: -60px;
        margin-top: 0;
    }
    .aboutProfileImg li{
        width: 100%;
        height: 100%;
    }
    .aboutProfileImg li img{
        width: 100%;
        height: 100%;
    }
    
    /*skill*/
    .skillTitle{
        display: none;
    }
    .skill{
        display: none;
    }
    .skill img{
        display: none;
    }
    .skillText{
        display: none;
    }
    .mSkill img{
        display: block;
    }
    .mSkillTitle{
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
    .mSkillTitle h3{
    font-size: 25px;
    font-weight: 500;
}
    .mSkill{
        margin-bottom: 50px;
    }
    .mColumnBox1,.mColumnBox2,.mColumnBox3,.mColumnBox4{
    float: left;
    width: calc(50% - 15px);
    height: 250px;
    overflow: hidden;
    }
    .mColumnBox1{
        margin: 0 5px 0 10px;
    }
    .mColumnBox2{
        margin: 0 10px 0 5px;
    }
    .mColumnBox3{
        margin: 10px 5px 0 10px;
    }
    .mColumnBox4{
        margin: 10px 10px 0 5px;
    }
    .mColumn1,.mColumn2,.mColumn3,.mColumn4{
        width: 100%;
    height: 250px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    position: relative;
    }
    .mColumn1 img{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -48px;
    width: 100px;
    height: 97px;
    }
    .mColumn2 img.one{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    }
    .mColumn3 img.two{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -69px;
    width: 100px;
    height: 139px;
    }
    .mColumn4 img.three{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -52px;
    width: 100px;
    height: 104px;
    }
    .mContainerTab {
    padding: 20px;
    color: white;
    }
    .mColumn1{
    background: url(../images/skills_photoshopBg.png) no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    transition: all 0.5s;
    }
    .mColumn1:hover{
    background-size: auto 130%;
    }
    .mColumn2{
    background: url(../images/skills_illustorBg.png) no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    transition: all 0.5s;
    }
    .mColumn2:hover{
    background-size: auto 130%;
    }
    .mColumn3{
    background: url(../images/skills_htmlBg.png) no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    transition: all 0.5s;
    }
    .mColumn3:hover{
    background-size: auto 130%;
    }
    .mColumn4{
    background: url(../images/skills_jqueryBg.png) no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    transition: all 0.5s;
    }
    .mColumn4:hover{
    background-size: auto 130%;
    }
    /* Clear floats after the columns */
    .mRow:after {
    content: "";
    display: table;
    clear: both;
    }
    .mRow{
    width: 100%;
    margin: 0 auto;
    }
    #mB1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 30px;
    background: url(../images/skills_photoshopBg_opacity.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    #mB1 h2{
        font-size: 15px;
    }
    #mB1 p{
        font-size: 12px;
    }
    #mB2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 30px;
    background: url(../images/skills_illustorBg_opacity.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    #mB2 h2{
        font-size: 15px;
    }
    #mB2 p{
        font-size: 12px;
    }
    #mB3{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 30px;
    background: url(../images/skills_htmlBg_opacity.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    #mB3 h2{
        font-size: 15px;
    }
    #mB3 p{
        font-size: 12px;
    }
    #mB4{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 30px;
    background: url(../images/skills_jqueryBg_opacity.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    #mB4 h2{
        font-size: 15px;
    }
    #mB4 p{
        font-size: 12px;
    }
    /* Closable button inside the image */
    .closebtn1 {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    }
    .closebtn2 {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    }
    .closebtn3 {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    }
    .closebtn4 {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
    }
    
    /*work*/
    .workTitle{
        padding: 0 0 10px 0;
    }
    .workTitle h3{
        width: 100%;
        text-align: center;
    }
    .workBg{
        display: none;
    }
    .workBtnBg{
        display: none;
    }
    .work{
        display: none;
    }
    .mWork{
        display: block;
        width: calc(100% - 10px);
        height: 260px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
    }
    .mWork ul{}
    .mWork ul li{
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .mWork ul li a{}
    .mWork ul li a img{
        display: inline-block;
    }
    /*mwork1text*/
    .mWork1Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -80px;
    }
    .mWork1Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork1Text h3 span{
        letter-spacing: 10px;
    }
    .mWork1Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork1Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork1Text h4 span{
        letter-spacing: 16px;
    }
    .mWork1Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork1Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork1Text p img{
        vertical-align: middle;
    }
    /*mwork2text*/
    .mWork2Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
        margin-left: -80px;
}
    .mWork2Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork2Text h3 span{
        letter-spacing: 10px;
    }
    .mWork2Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork2Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork2Text h4 span{
        letter-spacing: 16px;
    }
    .mWork2Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork2Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork2Text p img{
        vertical-align: middle;
    }
    
    /*mwork3text*/
    .mWork3Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -79px;
    }
    .mWork3Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork3Text h3 span{
        letter-spacing: 10px;
    }
    .mWork3Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork3Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork3Text h4 span{
        letter-spacing: 10px;
    }
    .mWork3Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork3Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork3Text p img{
        vertical-align: middle;
    }

    /*mwork4text*/
    .mWork4Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -76px;
    }
    .mWork4Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork4Text h3 span{
        letter-spacing: 15px;
    }
    .mWork4Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork4Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork4Text h4 span{
        letter-spacing: 2px;
    }
    .mWork4Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork4Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork4Text p img{
        vertical-align: middle;
    }

    /*mwork5text*/
    .mWork5Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -81px;
    }
    .mWork5Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork5Text h3 span{
        letter-spacing: 10px;
    }
    .mWork5Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork5Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork5Text h4 span{
        letter-spacing: 11px;
    }
    .mWork5Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork5Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork5Text p img{
        vertical-align: middle;
    }

    /*mwork6text*/
    .mWork6Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -88px;
    }
    .mWork6Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork6Text h3 span{
        letter-spacing: 4px;
    }
    .mWork6Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork6Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork6Text h4 span{
        letter-spacing: 2px;
    }
    .mWork6Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork6Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork6Text p img{
        vertical-align: middle;
    }

    /*mwork7text*/
    .mWork7Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -88px;
    }
    .mWork7Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork7Text h3 span{
        letter-spacing: 4px;
    }
    .mWork7Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork7Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork7Text h4 span{
        letter-spacing: 2px;
    }
    .mWork7Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork7Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork7Text p img{
        vertical-align: middle;
    }
    
    /*mWork8Text*/
    .mWork8Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -88px;
    }
    .mWork8Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork8Text h3 span{
        letter-spacing: 5px;
    }
    .mWork8Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork8Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork8Text h4 span{
        letter-spacing: 6px;
    }
    .mWork8Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork8Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork8Text p img{
        vertical-align: middle;
    }
    
    /*mWork9Text*/
    .mWork9Text{
        position: absolute;
        top: 50%;
        margin-top: -45px;
        left: 50%;
        margin-left: -88px;
    }
    .mWork9Text h3{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
    }
    .mWork9Text h3 span{
        letter-spacing: 10px;
    }
    .mWork9Text h3 span:last-child{
        letter-spacing: 0;
    }
    .mWork9Text h4{
        color: #fff;
        font-size: 30px;
        font-weight: 200;
        height: 30px;
        line-height: 30px;
    }
    .mWork9Text h4 span{
        letter-spacing: 2px;
    }
    .mWork9Text h4 span:last-child{
        letter-spacing: 0;
    }
    .mWork9Text p{
        color: #fff;
        margin-top: 20px;
        vertical-align: middle;
    }
    .mWork9Text p img{
        vertical-align: middle;
    }

    
    /*모바일 워크버튼*/
    .mBtn{
        display: block;
        width: 150px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .mWorkBtn{
        display: block;
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 50px;
    }
    .mWorkBtn:first-child{
        margin-left: 0;
    }
    
    .contact{
        width: 100%;
        text-align: center;
        margin-top: 150px;
    }
    
    
    /*topBtn*/
    .topBtn{
        display: none;
    }
    .btn_collapzion{
        display: block;
    }
    .sendBox{
        display: none;
    }
    
    /*footer*/
    #footer{
        width: 100%;
        background: none;
        text-align: center;
    }
    .copy li p{
        color: #b5b5b5;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    