@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    font-family: 'NotoSans','Noto Serif';
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
/*전체시작*/
#wrap{
    width: 100%;
}

/*헤더시작*/
#header{
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    height: 89px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    border-bottom: 1px solid #ccc;
}
#header.nav-up{
    top: -89px;
}
#header h1{
    width: 69px;
    height: 69px;
    float: left;
    margin-left: 50px;
}
#header h1 a{
    display: block;
    height: 100%;
}
#header h1 a img{
    width: 100%;
    display: block;
}

/*gnb*/
.gnb{
    float: right;
    height: 69px;
    line-height: 69px;
    margin-right: 50px;
}
.gnb ul{
}
.gnb ul li{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.gnb ul li a:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    height: 1px;
    background: #000;
    transition: all 0.5s
}
.gnb ul li:hover a:after{
    width: 60%;
}
.gnb ul li:hover a{
    font-weight: bold;
}
.gnb ul li a{
    color: #333;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

/*컨테이너*/
#container{
    width: 100%;
    padding-top: 89px;
}

/*home*/
.home{
    overflow: hidden;
    position: relative;
    height: 700px;
}
.home img{
    position: absolute;
    left: 50%;
    margin-left: -920px;
    top: 50%;
    margin-top: -450px;
}

.homeFont{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -67px;
    margin-left: -200px;
}
.homeFont li{}
.homeFont li h5{
    width: 400px;
    height: 60px;
    text-align: left;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    animation: fadeInLeft 1s;
}
.homeFont li h5 span{
    padding: 0 9px;
}
.homeFont li h5 span:first-child{
    padding-left: 0;
}
.homeFont li h5 span:last-child{
    padding-right: 0;
}
.homeFont li h4{
    width: 400px;
    text-align: left;
    font-size: 25px;
    height: 25px;
    font-weight: 300;
    color: #fff;
    animation: fadeInRight 1s;
}
.homeFont li h4 span{
    padding: 0 16px;
}
.homeFont li h4 span:first-child{
    padding-left: 0;
}
.homeFont li h4 span:last-child{
    padding-right: 0;
}
.homeFont li p{
    font-size: 15px;
    width: 400px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    animation: fadeInUp 1s;
}
/*scroll*/
.mScrollDown{
    display: none;
}
.scrollDown{
    width: 100%;
    height: 350px;
    position: relative;
}
.scrollDown ul{}
.scrollDown ul li{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -45px;
}
.scrollDown p{
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
}
.mouseScroll{
    -webkit-transition: opacity: .4s;
}
.mouse{
    margin: 0 auto;
    height: 40px;
    width: 26px;
    border: 2px solid #333;
    border-radius: 15px;
}
.wheel{
    position: relative;
    display: block;
    height: 4px;
    width: 4px;
    margin: 8px auto 0;
    background: #333;
    border-radius: 50%;
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
    animation: mouse-wheel 1.2s ease infinite;
}
@-webkit-keyframes mouse-wheel {
    0% { opacity:1;	-webkit-transform:translateY(0); transform:translateY(0); }
    100% { opacity:0; -webkit-transform:translateY(10px); transform:translateY(10px); }
    }
    @-moz-keyframes mouse-wheel {
    0% { opacity:1;	-moz-transform:translateY(0); transform:translateY(0); }
    100% { opacity:0; -moz-transform:translateY(10px); transform:translateY(10px); }
    }
    @keyframes mouse-wheel {
    0% { opacity:1; transform:translateY(0); }
    100% { opacity:0; transform:translateY(10px); }
}
/*WebAbout*/
.aboutTitle{
    width: 900px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    border: 35px solid #000;
    position: relative;
}
.aboutTitle h3{
    font-size: 60px;
    font-weight: bold;
    visibility: hidden;
    position: absolute;
    top: 50%;
    margin-top: -44px;
    left: 50%;
    margin-left: -165px;
}
.aboutTitle h3.shown{
    animation: fadeInUp 1s;
    visibility: visible;
    letter-spacing: 10px;
    position: absolute;
    top: 50%;
    margin-top: -44px;
    left: 50%;
    margin-left: -210px;
}
.aboutTitle h3 img{
    display: block;
    margin: 0 auto;
}
.aboutTitleBar{
    display: block;
    width: 1px;
    height: 70px;
    background: #000;
    margin: 80px auto;
}
.about{}

.aboutRow1{
    width: 900px;
    height: 419px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 120px;
}

.row1Left{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -142px;
    visibility: hidden;
}
.row1Left.shown{
    animation: fadeInLeft 1s;
    visibility: visible;
}
.row1Left ul{}
.row1Left ul.row1LeftTitle{}
.row1Left ul.row1LeftTitle li{}
.row1Left ul.row1LeftTitle li p{
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color: #000;
}
.row1Left ul.row1LeftTitle li p:after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #000;
    margin: 25px 0;
    
}
.row1Left ul.row1LeftTitle li p span{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.row1Left ul.last{
    width: 335px;
}
.row1Left ul.last li{}
.row1Left ul.last li p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.row1Right{
    position: absolute;
    right: 0;
    visibility: hidden;
}
.row1Right.shown{
    animation: fadeInRight 1s;
    visibility: visible;
}
.row1Right ul{}
.row1Right ul li{}
.row1Right ul li img{
    display: block;
}
/*row2*/
.aboutRow2{
    width: 900px;
    margin: 80px auto 150px auto;
    height: 321px;
    position: relative;
}
.aboutRow2 ul{
}
.aboutRow2Title{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}
.aboutRow2Title h3{
    font-size: 25px;
    font-weight: 400;
}
.aboutRow2TitleLBar{
    display: block;
    width: 305px;
    height: 1px;
    background: #b5b5b5;
    position: absolute;
    left: 50%;
    margin-left: -152px;
    bottom: 0;
    visibility: hidden;
}
.aboutRow2TitleLBar.shown{
    animation: zoomIn 1s;
    visibility: visible;
}
.aboutRow2TitleSBar{
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
}
.aboutRow2TitleSBar.shown{
    animation: zoomIn 1s;
    visibility: visible;
}

.row2Left{
    position: absolute;
    top: 0;
    left: 100px;
    visibility: hidden;
}
.row2Left.shown{
    animation: fadeInLeft 1s;
    visibility: visible;
}
.row2Left li{}
.row2Left li img{
    display: block;
}

.row2Right{
    position: absolute;
    top: 50%;
    margin-top: -59px;
    right: 30px;
    visibility: hidden;
}
.row2Right.shown{
    animation: fadeInRight 1s;
    visibility: visible;
}
.row2Right li{}
.row2Right li p{
    font-size: 20px;
    font-weight: 300;
}
.row2Right li p span{
    font-weight: bold;
}

/*aboutRow3*/
.aboutRow3Title{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
}
.aboutRow3Title h3{
    font-size: 25px;
    font-weight: 400;
}
.aboutRow3TitleLBar{
    display: block;
    width: 305px;
    height: 1px;
    background: #b5b5b5;
    position: absolute;
    left: 50%;
    margin-left: -152px;
    bottom: 0;
    visibility: hidden;
}
.aboutRow3TitleLBar.shown{
    animation: zoomIn 1s;
    visibility: visible;
}
.aboutRow3TitleSBar{
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
}
.aboutRow3TitleSBar.shown{
    animation: zoomIn 1s;
    visibility: visible;
}
.aboutRow3{
    width: 1200px;
    margin: 120px auto;
    height: 403px;
    position:relative;
}
.aboutRow3 ul{}
.aboutRow3 ul.row3LeftText{
    position: absolute;
    top: 0;
    left: 350px;
    visibility: hidden;
}
.aboutRow3 ul.row3LeftText.shown{
    animation: fadeInLeft 1s;
    visibility: visible;
}
.aboutRow3 ul.row3LeftText li{}
.aboutRow3 ul.row3LeftText li.first{}
.aboutRow3 ul.row3LeftText li.first p{
    font-size: 20px;
}
.aboutRow3 ul.row3LeftText li.second{}
.aboutRow3 ul.row3LeftText li.second p{
    font-size: 20px;
    margin-top: 218px;
}

.aboutRow3 ul.row3CenterBar{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12px;
    visibility: hidden;
}
.aboutRow3 ul.row3CenterBar.shown{
    animation: fadeInUp 1s;
    visibility: visible;
}
.aboutRow3 ul.row3CenterBar li{}
.aboutRow3 ul.row3CenterBar li img{}

.aboutRow3 ul.row3RightText{
    position: absolute;
    top: 0;
    right: 200px;
    visibility: hidden;
}
.aboutRow3 ul.row3RightText.shown{
    animation: fadeInRight 1s;
    visibility: visible;
}
.aboutRow3 ul.row3RightText li{}
.aboutRow3 ul.row3RightText li.first{}
.aboutRow3 ul.row3RightText li.first p{
    margin-top: 122px;
    font-size: 20px;
}
.aboutRow3 ul.row3RightText li.second{
    width: 356px;
}
.aboutRow3 ul.row3RightText li.second p{
    font-size: 20px;
    margin-top: 195px;
}


/*mAbout*/
.mAboutTitle{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0 20px 0;
    display: none;
}
.mAboutTitle h3{
    font-size: 25px;
    font-weight: 500;
}
.mAbout{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 700px; 
    display: none;
}
.mAbout img.mAboutBg{
    position: absolute;
    left: 50%;
    margin-left: -920px;
    top: 50%;
    margin-top: -450px;
}
.mAboutLeftText{
    position: absolute;
    top: 50%;
    margin-top: -85px;
    left: 5%;
    visibility: hidden;
}
/*m*/
.mAboutLeftText{
    position: absolute;
    top: 50%;
    margin-top: -85px;
    left: 5%;
    visibility: hidden;
    display: none;
}
.mAboutLeftText.showShow{
    visibility: visible;
    animation: fadeInUp 1s;
}
.mAboutLeftText li{
    color: #fff;
}
.mAboutLeftText li h3{
    font-size: 16px;
    font-weight: 300;
}
.mAboutLeftText li h3 span{
    font-size: 20px;
    font-weight: bold;
}
.mAboutLeftText li p{
    font-size: 14px;
    margin-top: 15px;
}
.mAboutLeftText li p span.first{
    letter-spacing: 2px;
}
.mAboutLeftText li p span.second{
    letter-spacing: 1px;
}
.aboutProfileImg{
    width: 164px;
    height: 187px;
    position: absolute;
    left: 50%;
    margin-left: -82px;
    top: 50%;
    margin-top: -93px;
}
.aboutProfileImg li{
    width: 100%;
    height: 100%;
}
.aboutProfileImg li img{
    width: 100%;
}

/*skill*/
.skillTitle{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0 20px 0;
}
.skillTitle h3{
    font-size: 25px;
    font-weight: 500;
}
.workInfo1{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -22px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo1 p{
    color: #fff;
    font-size: 15px;
}
.work1:hover .workInfo1{
    opacity: 1;
}
.workInfo2{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -22px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo2 p{
    color: #fff;
    font-size: 15px;
}
.work2:hover .workInfo2{
    opacity: 1;
}
.work2:hover .work2Phone{
    opacity: 0;
}
.workInfo3{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -55px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo3 p{
    color: #fff;
    font-size: 15px;
}
.work3:hover .workInfo3{
    opacity: 1;
}
.work3:hover .work3Phone{
    opacity: 0;
}
.workTitle{
    text-align: center;
    padding: 120px 0 20px 0;
}
.workTitle h3{
    width: 1200px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 500;
}

.workInfo4{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -44px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo4 p{
    color: #fff;
    font-size: 15px;
}
.work4:hover .workInfo4{
    opacity: 1;
}

.workInfo5{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -44px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo5 p{
    color: #fff;
    font-size: 15px;
}
.work5:hover .workInfo5{
    opacity: 1;
}

.workInfo6{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -44px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo6 p{
    color: #fff;
    font-size: 15px;
}
.work6:hover .workInfo6{
    opacity: 1;
}

.workInfo7{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -33px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo7 p{
    color: #fff;
    font-size: 15px;
}
.work7:hover .workInfo7{
    opacity: 1;
}
.workInfo8{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -33px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo8 p{
    color: #fff;
    font-size: 15px;
}
.work8:hover .workInfo8{
    opacity: 1;
}
.workInfo9{
    width: 420px;
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -33px;
    opacity: 0;
    transition: all 0.5s;
}
.workInfo9 p{
    color: #fff;
    font-size: 15px;
}
.work9:hover .workInfo9{
    opacity: 1;
}

/*circleprogress*/
.circleProgress1{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work1:hover .circleProgress1{
    opacity: 1;
}
.bracket1{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket1 ul{}
.bracket1 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket1 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design1{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design1 ul{}
.design1 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design1 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}

/*2*/
.circleProgress2{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work2:hover .circleProgress2{
    opacity: 1;
}
.bracket2{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket2 ul{}
.bracket2 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket2 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design2{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design2 ul{}
.design2 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design2 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}
/*3*/
.circleProgress3{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work3:hover .circleProgress3{
    opacity: 1;
}
.bracket3{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket3 ul{}
.bracket3 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket3 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design3{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design3 ul{}
.design3 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design3 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}
/*4*/
.circleProgress4{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work4:hover .circleProgress4{
    opacity: 1;
}
.bracket4{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket4 ul{}
.bracket4 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket4 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design4{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design4 ul{}
.design4 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design4 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}

/*5*/
.circleProgress5{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work5:hover .circleProgress5{
    opacity: 1;
}
.bracket5{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket5 ul{}
.bracket5 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket5 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design5{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design5 ul{}
.design5 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design5 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}

/*6*/
.circleProgress6{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work6:hover .circleProgress6{
    opacity: 1;
}
.bracket6{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket6 ul{}
.bracket6 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket6 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design6{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design6 ul{}
.design6 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design6 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}
/*7*/
.circleProgress7{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work7:hover .circleProgress7{
    opacity: 1;
}
.bracket7{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket7 ul{}
.bracket7 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket7 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design7{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design7 ul{}
.design7 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design7 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}
/*8*/
.circleProgress8{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work8:hover .circleProgress8{
    opacity: 1;
}
.bracket8{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket8 ul{}
.bracket8 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket8 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design8{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design8 ul{}
.design8 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design8 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}
/*9*/
.circleProgress9{
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: all 0.5s;
}
.work9:hover .circleProgress9{
    opacity: 1;
}
.bracket9{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
}
.bracket9 ul{}
.bracket9 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -21px;
    top: 50%;
    margin-top: -12px;
    color: #fff;
    text-align: center;
}
.bracket9 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    text-align: center;
    color: #fff;
}
.design9{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
}
.design9 ul{}
.design9 ul li.percent{
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}
.design9 ul li.program{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    text-align: center;
    color: #fff;
}

/*workBtn*/
.workBtnBg{
    position: relative;
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    margin: 0 auto;
}
.workBtnOpacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 600px;
    opacity: 0;
    box-sizing: border-box;
    transition: all 1s;
}
.workBtnOpacity ul{
    float: left;
}
.workBtnOpacity ul.first{}
.workBtnOpacity ul.first li{
    float: left;
}
.workBtnOpacity ul.first li img{
    display: block;
}
.workBtnOpacity ul.last{}
.workBtnOpacity ul.last li{}
.workBtnOpacity ul.last li img{
    display: block;
}
.workBtn{
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    background: url(../images/mac-459196_1920.jpg) no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    background-size: cover;
    animation: workBtn 4s infinite linear;
}
@keyframes workBtn{
    0%{
        top: 50%;
        margin-top: -160px;
        left: 50%;
        margin-left: -150px;
    }
    25%{
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -160px;
    }
    50%{
        top: 50%;
        margin-top: -140px;
        left: 50%;
        margin-left: -150px;
    }
    75%{
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -140px;
    }
    100%{
        top: 50%;
        margin-top: -160px;
        left: 50%;
        margin-left: -150px;
    }
    } 
.workBtn a{
    height: 100%;
    display: block;
    border-radius: 50%;
    background: rgba(0,0,0,0);
    transition: all 0.5s;
    cursor: pointer;
}
.workBtn a p{
    font-size: 25px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -18px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s; 
}
.workBtn a:hover p{
    opacity: 1;
}
.workBtn a:hover{
    background: rgba(0,0,0,0.7);
}
/*workBg*/
.workBg{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    background: #fff;
    visibility: hidden;
}
.workCloseText{
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -95px;
}
.workCloseText ul{}
.workCloseText ul li{}
.workCloseText ul li p{
    color: #b5b5b5;
    font-size: 15px;
    font-weight: 200;
}
/*work*/
::-webkit-scrollbar { 
    display: none; 
}
.work{
    width: 1200px;
    height: 600px;
    position: fixed;
    z-index: 0;
    opacity: 0;
    overflow-y: hidden;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -600px;
    visibility: hidden;
    transition: all 0.5s;
}
.workBox{
    width: 1200px;
    height: 600px;
    position: fixed;
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -300px;
    overflow-x: hidden;
    overflow-y:auto;
}
.work1{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work1_banner1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work1:hover{
    background-size: 130% 130%;
}
.work1 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work1Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work1Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work1Text h3 span{
    letter-spacing: 10px;
}
.work1Text h3 span:last-child{
    letter-spacing: 0;
}
.work1Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work1Text h4 span{
    letter-spacing: 16px;
}
.work1Text h4 span:last-child{
    letter-spacing: 0;
}
.work1Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work1Text p img{
    vertical-align: middle;
}

/*work2*/
.work2{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work1_banner2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    transition: all 0.5s;
    background-position: 50% 50%;
}
.work2:hover{
    background-size: 130% 130%;
}
.work2 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work2Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work2Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work2Text h3 span{
    letter-spacing: 10px;
}
.work2Text h3 span:last-child{
    letter-spacing: 0;
}
.work2Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work2Text h4 span{
    letter-spacing: 16px;
}
.work2Text h4 span:last-child{
    letter-spacing: 0;
}
.work2Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work2Text p img{
    vertical-align: middle;
}

.work2Phone{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -113px;
    opacity: 1;
    transition: all 0.5s;
}
.work2Phone img{}
.work2Phone img:last-child{
    margin-left: 40px;
}

/*work3*/
.work3{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work1_banner3.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work3:hover{
    background-size: 130% 130%;
}
.work3 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work3Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work3Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work3Text h3 span{
    letter-spacing: 10px;
}
.work3Text h3 span:last-child{
    letter-spacing: 0;
}
.work3Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work3Text h4 span{
    letter-spacing: 10px;
}
.work3Text h4 span:last-child{
    letter-spacing: 0;
}
.work3Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work3Text p img{
    vertical-align: middle;
}
.work3Phone{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -113px;
    opacity: 1;
    transition: all 0.5s;
}
.work3Phone img{}
.work3Phone img:last-child{
    margin-left: 40px;
}

/*work4*/
.work4{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work2_banner1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work4:hover{
    background-size: 130% 130%;
}
.work4 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work4Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work4Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work4Text h3 span{
    letter-spacing: 15px;
}
.work4Text h3 span:last-child{
    letter-spacing: 0;
}
.work4Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work4Text h4 span{
    letter-spacing: 2px;
}
.work4Text h4 span:last-child{
    letter-spacing: 0;
}
.work4Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work4Text p img{
    vertical-align: middle;
}

/*work5*/
.work5{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work2_banner2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work5:hover{
    background-size: 130% 130%;
}
.work5 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work5Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work5Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work5Text h3 span{
    letter-spacing: 10px;
}
.work5Text h3 span:last-child{
    letter-spacing: 0;
}
.work5Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work5Text h4 span{
    letter-spacing: 11px;
}
.work5Text h4 span:last-child{
    letter-spacing: 0;
}
.work5Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work5Text p img{
    vertical-align: middle;
}

/*work6*/
.work6{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work2_banner3.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work6:hover{
    background-size: 130% 130%;
}
.work6 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work6Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work6Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work6Text h3 span{
    letter-spacing: 4px;
}
.work6Text h3 span:last-child{
    letter-spacing: 0;
}
.work6Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work6Text h4 span{
    letter-spacing: 2px;
}
.work6Text h4 span:last-child{
    letter-spacing: 0;
}
.work6Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work6Text p img{
    vertical-align: middle;
}

/*work7*/
.work7{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work3_banner1.png) no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    position: relative;
    margin-top: 30px;
    transition: all 0.5s;
}
.work7:hover{
    background-size: 130% 130%;
}
.work7 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work7Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work7Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work7Text h3 span{
    letter-spacing: 4px;
}
.work7Text h3 span:last-child{
    letter-spacing: 0;
}
.work7Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work7Text h4 span{
    letter-spacing: 2px;
}
.work7Text h4 span:last-child{
    letter-spacing: 0;
}
.work7Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work7Text p img{
    vertical-align: middle;
}

/*work8*/
.work8{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work3_banner2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work8:hover{
    background-size: 130% 130%;
}
.work8 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work8Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work8Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work8Text h3 span{
    letter-spacing: 5px;
}
.work8Text h3 span:last-child{
    letter-spacing: 0;
}
.work8Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work8Text h4 span{
    letter-spacing: 6px;
}
.work8Text h4 span:last-child{
    letter-spacing: 0;
}
.work8Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work8Text p img{
    vertical-align: middle;
}

/*work9*/
.work9{
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: url(../images/work3_banner3.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 30px;
    background-position: 50% 50%;
    transition: all 0.5s;
}
.work9:hover{
    background-size: 130% 130%;
}
.work9 a{
    display: block;
    height: 100%;
    width: 100%;
}
.work9Text{
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 10%;
}
.work9Text h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.work9Text h3 span{
    letter-spacing: 10px;
}
.work9Text h3 span:last-child{
    letter-spacing: 0;
}
.work9Text h4{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
}
.work9Text h4 span{
    letter-spacing: 2px;
}
.work9Text h4 span:last-child{
    letter-spacing: 0;
}
.work9Text p{
    color: #fff;
    margin-top: 20px;
    vertical-align: middle;
}
.work9Text p img{
    vertical-align: middle;
}

.mWork{
    display: none;
}
.mBtn{
    display: none;
}
/*contact*/
.contact{
    margin-top: 200px;
    text-align: center;
}
.contact ul{}
.contact ul li{}
.contact ul li h2{
    font-size: 25px;
}
.contact ul li p{
    font-size: 14px;
    color: #000;
}
.contact ul li p a{
    color: #000;
    font-size: 14px;
}

/*sendbox*/
*:focus {
    outline: none;
}
.sendMessage ul.sendBox{
    width: 800px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 120px;
    padding-top: 30px;
}
.sendMessage ul.sendBox li{
    float: left;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}
.sendMessage ul.sendBox li input{
    border: 0px;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #555;
    background: none;
}
.underline{
    width: 0px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    
}
.sendBox li input:focus + .underline{
    width: 100%;
}
input::placeholder{
    color: #555;
}
input:focus::-webkit-input-placeholder {
  color: #fff;
}
.sendMessage ul.sendBox li.name{}
.sendMessage ul.sendBox li.name input{}
.sendMessage ul.sendBox li.email{
    margin-left: 100px;
}
.sendMessage ul.sendBox li.email input{}
.sendMessage ul.sendBox li.subject{
    margin-left: 100px;
}
.sendMessage ul.sendBox li.subject input{}
.sendMessage ul.sendBox li.message{
    margin-top: 40px;
    width: 800px;
    height: 40px;
    box-sizing: border-box;
}
.sendMessage ul.sendBox li.message input{
    width: 800px;
    margin: 0 auto;
}
.sendBtn{
    width: 120px;
    height: 50px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
}
.sendBtn:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background: #fff;
    transition: all 0.2s linear;
    transition-delay: 0.6s;
}
.sendBtn:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 0px;
    background: #fff;
    transition: all 0.2s linear;
    transition-delay: 0.4s;
}
.sendBtn span{
    width: 120px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}
.sendBtn span::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all 0.2s linear;
    transition-delay: 0.2s;
}
.sendBtn span::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
    transition: all 0.2s linear;
    transition-delay: 0s;
}
.sendBtn span input{
    width: 120px;
    height: 50px;
    border: 0;
    color: #555;
    font-size: 18px;
    background: none;
    cursor: pointer;
    position: relative;
}
.sendBtn:hover span input{
    color: #fff;
}
.sendBtn:hover::after{
    width: 100%;
    transition-delay: 0s;
}
.sendBtn:hover::before{
    height: 100%;
    transition-delay: 0.2s;
}
.sendBtn:hover span::after{
    width: 100%;
    transition-delay: 0.4s;
}
.sendBtn:hover span::before{
    height: 100%;
    transition-delay: 0.6s;
}

.sns{}
.sns h3{
    margin-top: 100px;
}
.sns li{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 25px;
    margin-top: 25px;
}
.sns li:last-child{
    margin-right: 0;
}
.sns li a{
    height: 100%;
    display: block;
}
.sns li a img{}

/*푸터*/
#footer{
    width: 100%;
    margin-top: 200px;
    background: #000;
}
.copy{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
}
.copy li p{
    color: #fff;
    font-size: 12px;
}

/*top버튼*/
.topBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.topBtn a{
    height: 100%;
    display: block;
    cursor: pointer;
}
.topBtn a img{
    width: 100%;
    display: block;
}
#btncollapzion{
    display: none;
}












