/*서브슬라이더*/
.subSlider{
    position: relative;
}
.subSliderImg{
    position: relative;
    width: 100%;
    height: 750px;
    background: #0c0739;
}
.subSliderImg img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -308px;
    margin-left: -415px;
}
.subSliderImg2{
    position: relative;
    width: 100%;
    height: 750px;
    background: #0c0739;
}
.subSliderImg2 img{
    width: 830px;
    height: 616px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -308px;
    margin-left: -415px;
}
.subSliderImg3{
    position: relative;
    width: 100%;
    height: 750px;
    background: #0c0739;
}
.subSliderImg3 img{
    width: 830px;
    height: 616px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -308px;
    margin-left: -415px;
}
.slick-dots{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.slick-dots li{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #ddd;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.slick-dots button{
    padding: 0;
    border: 0;
    font-size: 0;
}

.slick-dots li.slick-active{
    background: red;
    border: 2px solid #fff;
    box-sizing: border-box;
}
.prevBtn,.nextBtn{
    cursor: pointer;
    width: 30px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    z-index: 1;
}
.prevBtn{
    left: 40px; 
}
.nextBtn{
    right: 40px;
}

/*sns*/
.snsIcon{
    font-size: 0;
    text-align: center;
}
.snsIcon ul{}
.snsIcon ul li{
    display: inline-block;
    margin: 10px 25px;
}
.snsIcon ul li a{
    display: block;
}
.snsIcon ul li a img{}

/*기본정보*/
.basicInfo{}
.basicInfo dl{
    text-align: center;
}
.basicInfo dl dt{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
}
.basicInfo dl dd{
    font-size: 20px;
    font-size: 500;
}

/*앨범*/
.album{}
.album h3{
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.albumInfo{
    margin-bottom: 100px;
}
.albumInfo.inner{
    width: 1000px;
    margin: 0 auto;
}
.albumInfo ul{}
.albumInfo ul li{
    float: left;
    width: 500px;
    margin-top: 30px;
}
.albumInfo ul li a{}
.albumInfo ul li a img{
    float: left;
}
.albumInfo ul li a h4{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-top: 90px;
}
.albumInfo ul li a p{
    font-size: 30px;
    font-weight: 500;
    color: #333;
}
.albumInfo ul li a span{
    font-size: 30px;
    font-weight: 500;
    color: #999;
}




















































